<section>
 <p>
<a  id="hover_pop" href="http://www.weibo.com/houshao55"  wb_user_id="1908513890" >小邪兽_deepin@Weibo<span id="wb_follow_btn"> </a>
  </p>
  <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=1166443256" type="text/javascript"> </script>
  <script type="text/javascript">
  WB2.anyWhere(function(W){
      W.widget.hoverCard({
          id: "hover_pop"
          });


      W.widget.followButton({
      //uid: '1908513890',
      uid: '1908513890',
      id: "wb_follow_btn"
        });
      });

  </script>
</section>